{% extends 'ingredients\base.html' %}

{% block content %}
<form method="GET" action="{% url 'all_recipes' %}">
	{{ form.as_p }}
	<input type="submit" name="Search">
</form>
<div class="recipes">
{% for recipe in recipes %}
	<div class="recipe-containter">
		<p><a href="{{ recipe.sourceUrl }}"><img src="{{ recipe.image }}"></a></p>
		<h2>{{ recipe.title }}</h2>
		<h4>Missed ingredients: {{ recipe.missedIngredientCount. }}</h4>
		<ul>
			{% for miss in recipe.missedIngredients %}
				<li>{{ miss.name }}</li>
			{% endfor %}
		</ul>
		<h4>Unused ingredients:</h4>
		<ul>
			{% for unuse in recipe.unusedIngredients %}
				<li>{{ unuse.name }}</li>
			{% endfor %}
		</ul>
		<a href="{% url 'recipe_detail' recipe.id %}">Click here for detail</a>
	</div>
{% endfor %}
</div>
{% endblock %}
