{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Food Ranger{% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
</head>
<body>
    
    {% block content %}
    {% endblock %}

    <script>
      bars = document.querySelector('.bars');
      closing = document.querySelector('.close');

      nav = document.querySelector('.nav-bar')


      bars.addEventListener('click', function(e) {
        bars.classList.remove('show');
        closing.classList.add('show');
        nav.classList.add('transform');
        nav.style.display = 'flex';
      })

      closing.addEventListener('click', function(e) {
        closing.classList.remove('show');
        bars.classList.add('show');
        nav.classList.remove('transform');
        nav.style.display = 'none';
      })
    </script>
</body>
</html>