<nav class="header">
  <h1>
    <a href="{% url 'recipe_by_ingredients' %}" class="color"
      >FOOD RANGER</a
    >
  </h1>
  <i class="fas fa-bars bars show"></i>
  <i class="fas fa-times close"></i>
  <ul class="nav-bar">
    <li>
      <a href="https://spoonacular.com/food-api" class="color"
        >HELP</a
      >
    </li>
    <li>
      <a href="https://spoonacular.com/food-api/faq" class="color"
        >FAQ</a
      >
    </li>
    <li>
      <a href="https://spoonacular.com/contact" class="color"
        >CONTACT</a
      >
    </li>
  </ul>
</nav>